.logo{
    display: block;
    margin: auto;
    width: 50px;
}


body{
    background-image: linear-gradient(rgb(92,100,221), rgb(109,39,200));
    background-repeat: no-repeat;
}

.container{
    background-color: white;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.message {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.left{
    background-color: aqua;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 15px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    clear: both;
}

.right{
    background-color: #a19b9b;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 15px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    clear:both;
}